.bord{
	border: 1px solid black;
	margin: 2em 1em 3em 1em;
	padding: 20px;
	text-align: center;
}
.html{
	width: 50px;
	position:relative;
}
.css{
	width: 50px;
}
.js{
	width: 50px;
}
.php{
	width: 35px;
}
.logo{
	width: 25em;
	display: block;
	margin-left: auto;
	margin-right: auto;

}