body:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  /*background-color: grey;*/
  background: url("https://image.freepik.com/photos-libre/main-en-utilisant-un-ordinateur-portable-dans-un-cafe_1170-2350.jpg")
    no-repeat center center;
  background: url("../images/background2.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  -webkit-filter: blur(5px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  /*-webkit-filter: ;  Safari*/
  /*filter: brightness(60%);*/
}

.panel {
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-default > .panel-heading {
  background-color: transparent;
}

.panel-info > .panel-heading {
  background-color: rgba(226, 20, 27, 0.9);
  color: white;
  font-weight: bold;
  border-color: rgba(226, 20, 27, 0.9);
}

.dropdown-menu {
  background-color: rgba(226, 20, 27, 0.9);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: transparent;
}

.navbar-default {
  background: rgba(226, 20, 27, 0.9);
}

.navbar {
  position: fixed;
  width: 100%;
  border-bottom: none;
  /*margin-bottom: 100px;*/
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  display: fixed;
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: white;
}

i {
  color: rgba(226, 20, 27, 0.8);
}

.fa-info-circle:before {
  font-size: 18px;
}

.dropdown-menu > li > a {
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white;
  font-weight: bold;
}

.textnav {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: white;
  font-weight: bold;
}

/*.navbar-brand>a {
	width: 70vw;
}*/
.navbar-brand {
  display: flex;
}

.logosimplon {
  width: 1.4em;
  height: auto;
  margin-right: 0.7em;
}

.btn {
  background-color: rgba(226, 20, 27, 0.9);
  border: none;
  color: white;
  font-weight: bold;
}

.btn-ok {
  background-color: green;
}

.btn:active {
  background-color: rgba(226, 20, 27, 0.9);
}

.form-control:focus {
  border-color: rgba(226, 20, 27, 0.4);
}

.panel-heading {
  font-size: 24px;
}

.fa-panel {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 0.2em;
}

.panel-btn {
  padding: 0.2em;
}

.score {
  font-weight: bold;
  font-size: 24px;
  padding: 0.2em;
  text-align: center;
}
