$pink-simplon:#e80041;
$grey-custom:#747474;
$grey-dark-custom:#2e2d2d;
;
.overlay {
   z-index: 1;
   height: 100%;
   width: 100%;
   position: fixed;
   overflow: auto;
   top: 0px;
   left: 0px;
   background: rgba(20, 20, 20, 0.75);
   /*can be anything, of course*/
   .app {
      display: flex;
      flex-direction: column;
      .container {
         height: 100vh;
         background: purple;
      }
   }
}

.navbar-brand {
   span {
      font-size: 14px;
   }
}

.cardd {
   margin-left: 10px;
   margin-right: 10px;
   a {
      text-decoration: none;
      .card {
         .card-body {
            background: white;
            height: 18vw;
            width: 18vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #595959;
         }
         .card-body:hover {
            background: $pink-simplon;
            color: white;
         }
      }
   }
}

.cardd-mega-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 55vh;
   .cardd-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
   }
}

.btn {
   background-color: $pink-simplon;
}

.justified-button {
   background: #4d4d4d;
   position: fixed;
   display: flex;
   justify-content: center;
   padding-top: 10px;
   margin-top: -4px;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-bottom: 10px; // border-top: 3px solid $pink-simplon;
   height: 25px;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   .btn {
      margin-top: -40px;
      background-color: $pink-simplon;
      color: white;
      border-radius: 50px;
      border: 2px solid $pink-simplon;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
   }
}

.title-top-container {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   .title-top {
      color: white;
      border-bottom: 2px white solid;
      width: auto;
      padding-bottom: 15px;
   }
}

.input-centered {
   display: flex;
   justify-content: center;
   .navbar-form {
      input {
         width: 50vw;
      }
   }
}

.cards-custom-list {
   width: 85%;
   .page-title {
      color: white;
   }
   .card-custom-container {
      display: flex;
      flex-direction: row;
      background: white;
      border-bottom: 2px solid rgb(228, 228, 228);
      a {
         color: hsla(0, 0%, 57%, 1);
      }
      a:hover {
         .card-custom-image {
            background: hsla(0, 0%, 57%, 1);
            color: white;
         }
      }
      .card-custom-image {
         min-height: 15vw;
         max-height: auto;
         width: 15vw;
         min-width: 15vw;
         background: $grey-custom;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         color: hsla(0, 0%, 57%, 1);
         p {
            padding-top: 25px;
            margin-bottom: 0px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: white;
         }
      }
      .card-custom-description {
         padding: 20px;
         flex-grow: 2;
         flex-direction: row;
         width: 60%;
         .card-custom-description-date {
            color: rgb(189, 187, 187);
            display: flex;
            align-self: flex-end;
         }
      }
      .card-custom-view {
         display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         flex-grow: 2;
         a {
            margin-right: 10px;
            margin-bottom: 10px;
         }
         .card-custom-action-buttons {
            padding-right: 10px;
            a {
               margin: 0px;
            }
         }
      }
   }
}

@media screen and (min-width: 1000px) {
   .navbar {
      height: 7vh;
   }
   .cards-custom-list {
      .card-custom-container {
         .card-custom-image {
            min-height: 10vw;
            height: auto;
            width: 10vw;
            min-width: 10vw;
            p {
               padding-top: 0px;
               font-size: 14px;
            }
         }
         .card-custom-description {
            width: 60%;
         }
         .card-custom-view {}
      }
   }
}