$pink-simplon:rgb(232, 0, 65);
$grey-custom:#747474;
$light-grey-custom: hsla(0, 0%, 57%, 1);
$grey-dark-custom:#2e2d2d;
$white: darken(#fff, 5%);
$black: darken(#000, 5%);
.navbar {
   margin-bottom: 0px;
}

.overlay {
   z-index: 1;
   height: 100%;
   width: 100%;
   position: fixed;
   overflow: auto;
   top: 0px;
   left: 0px;
   background: rgba(145, 130, 130, 0.75);
   .app {
      display: flex;
      flex-direction: column;
      .container {
         height: 100vh;
      }
   }
   .mega-container {
      padding-bottom: 100px;
   }
}

.navbar-brand {
   span {
      font-size: 14px;
   }
}

.cardd {
   margin-left: 10px;
   margin-right: 10px;
   a {
      text-decoration: none;
      .card {
         .card-body {
            background: $white;
            height: 18vw;
            width: 18vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #595959;
         }
         .card-body:hover {
            background: $pink-simplon;
            color: $white;
         }
      }
   }
}

.cardd-mega-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 55vh;
   .cardd-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
   }
}

.btn {
   background-color: $pink-simplon;
}

.justified-button {
   background: rgba(29, 29, 29, 0.9);
   position: fixed;
   display: flex;
   justify-content: center;
   padding-top: 10px;
   margin-top: -4px;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-bottom: 10px; // border-top: 3px solid $pink-simplon;
   height: 25px;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-top: 1px solid $light-grey-custom;
   .btn {
      margin-top: -40px;
      background-color: $pink-simplon;
      color: $white;
      border-radius: 50px;
      border: 2px solid $pink-simplon;
      transform: translateY(0px);
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      box-shadow: 0 5px 20px 0 rgba(148, 0, 42, 0.7);
      transition: transform .1s ease-in;
   }
   .btn:hover {
      transition: transform .1s ease-out;
      transform: translateY(-10px);
      box-shadow: 0 20px 20px -10px rgba(148, 0, 42, 0.4);
   }
   .btn:active {
      background: $white;
      color: $pink-simplon;
      border: 2px solid $pink-simplon;
   }
}

.title-top-container {
   display: flex;
   justify-content: center;
   margin-bottom: 1em;
   margin-top: 2em;
   .title-top {
      color: $white;
      border-bottom: 2px white solid;
      width: auto;
      padding-bottom: 15px;
   }
}

.input-centered {
   display: flex;
   justify-content: center;
   .navbar-form {
      input {
         width: 50vw;
      }
   }
}

.cards-custom-list-mega-container {
   display: flex;
   justify-content: center;
   .card-custom-list-container {
      box-shadow: 2px 25px 90px rgba(82, 82, 82, 0.8), 0px 4px 10px rgba(82, 82, 82, .8);
      width: 85%;
      display: flex;
      flex-direction: column;
      .cards-custom-list {
         width: 100%;
         padding: 0px;
         .page-title {
            color: $white;
         }
         .card-custom-container {
            display: flex;
            flex-direction: row;
            background: $white;
            a {
               color: $light-grey-custom;
            }
            a:hover {
               .card-custom-image {
                  background: $light-grey-custom;
                  color: $white;
               }
            }
            .card-custom-image {
               min-height: 10vw;
               max-height: auto;
               width: 10vw;
               min-width: 10vw;
               background: $grey-custom;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               color: $light-grey-custom;
               border-bottom: 2px solid rgb(155, 155, 155);
               p {
                  // padding-top: 25px;
                  margin-bottom: 0px;
                  text-transform: uppercase;
                  font-weight: bold;
                  text-align: center;
                  color: $white;
               }
            }
            .new-training {
               display: flex;
               align-items: center;
               height: 100%;
            }
            .description-view-mega-container {
               display: flex;
               flex-direction: column;
               width: 100%;
               .card-custom-description {
                  padding: 20px;
                  flex-direction: row;
                  width: 100%;
                  align-items: center;
                  .card-custom-description-date {
                     color: rgb(189, 187, 187);
                     display: flex;
                     align-self: flex-end;
                  }
                  .new-training-container {
                     display: flex;
                     align-content: center;
                     p {
                        margin: 0px;
                     }
                  }
               }
            }
            .focusCandidate {
               display: flex;
               align-items: center;
               .focus-candidate-id-card {
                  span {
                     color: rgb(189, 187, 187);
                  }
               }
            }
            .no-padding {
               padding: 0px;
            }
            .card-custom-view {
               background: lighten($light-grey-custom, 35%);
               display: flex;
               justify-content: flex-end;
               align-items: center;
               flex-grow: 2;
               border-bottom: 2px solid rgb(212, 212, 212);
               a {
                  margin-right: 10px;
                  margin-bottom: 10px;
               }
               .card-custom-action-buttons {
                  display: flex;
                  flex-direction: column;
                  padding-right: 10px;
                  div {
                     display: flex;
                     align-items: center;
                     padding: .5em 0;
                  }
                  a {
                     margin: 0px;
                     margin: .2em;
                     i .fa-inverse {
                        color: $white;
                     }
                  }
                  a:hover {
                     color: lighten($light-grey-custom, 15%);
                  }
               }
            }
         }
      }
   }
}

.rotate180 {
   transform: rotate(-180deg);
}

.action-buttons-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   flex-flow: wrap;
   .btn {
      margin: 5px;
   }
   .action-button {
      display: flex;
      align-items: center;
      margin: 5px;
      p {
         margin-left: 10px;
         margin-right: 10px;
         margin-bottom: 0px;
      }
   }
}

.candidate-score-container {
   .global-score {
      display: flex;
      justify-content: center;
      height: 35vh;
      div {
         @extend .global-score;
         flex-direction: column;
         dt,
         p {
            text-align: center;
         }
         p {
            font-size: 5em;
         }
      }
   }
}

.candidate-administrative-container,
.candidate-score-container {
   .badges {
      display: flex;
      flex-direction: column;
      div {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 0px;
         svg {
            display: flex;
            justify-content: center;
            width: 100%;
         }
         p {
            text-align: center;
            font-weight: bold;
         }
      }
   }
   div {
      div {
         width: 100%;
         margin: 10px; // text-align: center;
         display: inline-flex;
         flex-wrap: wrap;
         dt {
            margin-right: 10px;
         }
      }
   }
}

.sorting-arrows {
   display: flex; // flex-wrap: wrap;
   align-items: center;
   border-bottom: 0px;
   a {
      display: flex;
      align-items: center;
   }
}

.rounded-button {
   .btn {
      background-color: #e80041;
      color: $white;
      border-radius: 50px;
      border: 2px solid #e80041;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
   }
   .round {
      width: 2.8em;
   }
}

.focus-candidate-id-card {
   .col-md-4 {
      text-align: center;
   }
}

.applications-training-mega-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 85%;
   .applications-training-container {
      background: $white;
      border-radius: 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
   }
}

@media screen and (min-width: 1000px) {
   .navbar {
      height: 7vh;
   }
   .cards-custom-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .card-custom-container {
         .card-custom-image {
            min-height: 10vw;
            height: auto;
            width: 10vw;
            min-width: 10vw;
            p {
               padding-top: 0px;
               font-size: 14px;
            }
         }
         .card-custom-description {
            width: 60%;
         }
         .card-custom-view {}
      }
      .card-custom-container-aligt-right {
         display: flex;
         justify-content: flex-end;
         color: $white;
         height: 40px;
         align-items: center;
         margin-bottom: 20px;
         font-weight: 200;
      }
   }
}